Django==1.5
Flask==0.10.1
Flask-Restless==0.13.1
Flask-SQLAlchemy==0.16
Jinja2==2.7
MarkupSafe==0.18
MySQL-python==1.2.5
PyParse==1.1.7
Pygments==1.6
SQLAlchemy==0.8.2
South==0.8.1
Twisted==13.2.0
Werkzeug==0.9.2
altgraph==0.10.2
bdist-mpkg==0.5.0
decorator==3.4.0
dj-database-url==0.3.0
dj-static==0.0.5
django-bootstrap-toolkit==2.15.0
django-extensions==1.1.1
django-localflavor-br==1.0
django-registration==1.0
django-suit==0.2.2
fuzzywuzzy==0.2
gevent==1.0
gunicorn==17.5
httplib2==0.9
itsdangerous==0.22
lettuce==0.2.19
locustio==0.7.1
macholib==1.5.1
matplotlib==1.3.1
mechanize==0.2.5
mimerender==0.5.4
modulegraph==0.10.4
mongoengine==0.8.7
msgpack-python==0.3.0
multi-mechanize==1.2.0
networkx==1.9.1
numpy==1.8.0rc1
oauth2==1.5.211
py2app==0.7.3
pyOpenSSL==0.13.1
pymongo==2.7.2
pyobjc-core==2.5.1
pyobjc-framework-Accounts==2.5.1
pyobjc-framework-AddressBook==2.5.1
pyobjc-framework-AppleScriptKit==2.5.1
pyobjc-framework-AppleScriptObjC==2.5.1
pyobjc-framework-Automator==2.5.1
pyobjc-framework-CFNetwork==2.5.1
pyobjc-framework-Cocoa==2.5.1
pyobjc-framework-Collaboration==2.5.1
pyobjc-framework-CoreData==2.5.1
pyobjc-framework-CoreLocation==2.5.1
pyobjc-framework-CoreText==2.5.1
pyobjc-framework-DictionaryServices==2.5.1
pyobjc-framework-EventKit==2.5.1
pyobjc-framework-ExceptionHandling==2.5.1
pyobjc-framework-FSEvents==2.5.1
pyobjc-framework-InputMethodKit==2.5.1
pyobjc-framework-InstallerPlugins==2.5.1
pyobjc-framework-InstantMessage==2.5.1
pyobjc-framework-LatentSemanticMapping==2.5.1
pyobjc-framework-LaunchServices==2.5.1
pyobjc-framework-Message==2.5.1
pyobjc-framework-OpenDirectory==2.5.1
pyobjc-framework-PreferencePanes==2.5.1
pyobjc-framework-PubSub==2.5.1
pyobjc-framework-QTKit==2.5.1
pyobjc-framework-Quartz==2.5.1
pyobjc-framework-ScreenSaver==2.5.1
pyobjc-framework-ScriptingBridge==2.5.1
pyobjc-framework-SearchKit==2.5.1
pyobjc-framework-ServiceManagement==2.5.1
pyobjc-framework-Social==2.5.1
pyobjc-framework-SyncServices==2.5.1
pyobjc-framework-SystemConfiguration==2.5.1
pyobjc-framework-WebKit==2.5.1
pyparsing==2.0.1
pystache==0.5.3
python-dateutil==1.5
python-mimeparse==0.1.4
pytz==2013.7
requests==2.4.3
scipy==0.13.0b1
selenium==2.42.1
simplejson==3.3.1
six==1.4.1
static==1.0.2
stevedore==0.15
sure==1.2.7
virtualenv==1.11.4
virtualenv-clone==0.2.4
virtualenvwrapper==4.2
wsgiref==0.1.2
xattr==0.6.4
zope.interface==4.1.1
